.wrapper {
  display: grid;
  // grid-auto-flow: column;
  grid-template-columns: 230px 1fr 230px;
  align-items: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px var(--side-offset);

  &--full::after {
    content: '';
  }
}

.breadcrumbs {
  grid-column-end: span 2;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #dfcf77;
  font-weight: 300;
}

.user {
  grid-column: -2 / -1;
  justify-self: end;
}
