.root {
  margin-bottom: 115px;
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--side-offset);

  &--like-this {
    padding-top: 30px;
    margin-bottom: 160px;
  }
}

.list {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 55px 10px;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  margin: 0 0 12px;
  font-size: 22px;
  line-height: 26px;
  color: #dfcf77;
  font-weight: 400;
}


.button {
  display: block;
  width: 100%;
  padding: 29px 40px;
  background: none;
  border: 1px solid rgba(217, 202, 116, 0.2);
  border-radius: 8px;

  transition: border-color 0.2s, background-color 0.2s;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #d9ca74;
  cursor: pointer;

  &:hover {
    border-color: rgba(217, 202, 116, 0.5);
  }

  &:active,
  &:focus-visible {
    background-color: #d9ca74;
    color: black;
  }
}
