.breadcrumbs {
  margin: 0 20px;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:not(:last-child)::after {
      content: '/';
      margin-left: 5px;
      margin-right: 5px;
      font-size: 17px;
      line-height: 20px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #eee5b5;
    font-size: 17px;
    line-height: 20px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

    &[href]:hover {
      color: #dfcf77;
    }
  }
}
