.root {
  position: fixed;
  z-index: 1;
  inset: 0;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exit {
  display: block;
  position: absolute;
  z-index: 2;
  background: rgba(255, 249, 217, 0.12);
  border-radius: 8px;
  top: 37px;
  right: 32px;
  border: none;
  font-size: 17px;
  line-height: 26px;
  color: #eee5b5;
  padding: 10px 20px;
  cursor: pointer;
  width: 93px;
  text-align: center;
  cursor: pointer;
}

.controls {
  position: absolute;
  z-index: 2;
  inset: auto 0 0;
  padding: 25px;
  display: grid;
  grid-template-columns: 26px 1fr auto;
  gap: 15px 20px;
  align-items: center;
}

.time__value {
  min-width: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: right;
  font-size: 14px;
  color: #fff9d9;
}

.full-screen {
  margin-left: auto;
}

.control {
  all: unset;
  display: grid;
  place-content: center;
  color: #eee5b5;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s transform;

  img,
  svg {
    vertical-align: top;
  }

  &:focus,
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.play {
  width: 100%;
  height: 26px;
}

.name {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #b3ae98;
  margin: 0 10px;
}

.full-screen {
  justify-self: end;
}

@mixin thumb {
  appearance: none;
  background-color: #d9cd8d;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  width: 17px;
  height: 17px;
}

@mixin track {
  background: none;
  height: 100%;
  width: 100%;
}

.timeline {
  --time: 0%;
  appearance: none;
  background-color: transparent;
  background-image: linear-gradient(to right, #d9cd8d var(--time), rgba(255, 251, 231, 0.35) var(--time));

  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center;

  grid-column-end: span 2;

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }
}
